<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="/js/common/header.js" defer></script>
</head>

<div class="header" th:fragment="header">
    <div class="header-con">
        <div class="gnb">
            <div class="logo"><a th:href="@{/}"><img src="/img/common/head/logo.png" alt="LogoImage"></a>
            </div>
            <div class="main-menu-con">
                <ul>
                    <li>
                        <div class="li-con">
                            <div class="left-menu">
                                <ul>
                                    <li><a th:href="@{/trackList}">Tracks</a></li>
                                    <li><a th:href="@{/board}">Community</a></li>
                                    <li><a th:href="@{/#}">FAQ</a></li>
                                    <li><a th:href="@{/#}">About</a></li>
                                    <li><a th:href="@{/#}">Contact</a></li>
                                </ul>

                            </div>
                            <div class="right-menu">
                                <input type="text" id="searchBar" size="48" placeholder="Search beats">
                            </div>
                            <div class="s-img">
                                <img src="/img/common/head/magnifier.png" alt="searchImg" id="magnifier">
                            </div>
                        </div>
                    </li>
<!--                    <li class="li-last">-->
<!--                        <a class="s-img">-->
<!--                            <img src="/img/common/head/magnifier.png" alt="searchImg" id="magnifier">-->
<!--                        </a>-->
<!--                        <a th:href="@{/#}">-->
<!--                            <img src="/img/common/head/shopping-bag.png" alt="shoppingBag">-->
<!--                        </a>-->
<!--                        <a th:href="@{/#}">-->
<!--                            <img src="/img/common/head/login.png" alt="login">-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="li-last">
<!--                <a class="s-img">-->
<!--                    <img src="/img/common/head/magnifier.png" alt="searchImg" id="magnifier">-->
<!--                </a>-->
                <a th:href="@{/#}">
                    <img src="/img/common/head/shopping-bag.png" alt="shoppingBag">
                </a>
                <a th:href="@{/#}">
                    <img src="/img/common/head/login.png" alt="login">
                </a>
            </div>
        </div>
    </div>
</div>